/* stylesheet.css */


/* -------------------------------------------  INDEX PAGE  ------------------------------------------- */



/* -------------------------------------------  DROP-DOWN MENU  ------------------------------------------- */

#dropbutton {
    padding: 0;
    /* ADDED DISPLAY BLOCK AND MARGIN AUTO TO GET TO MIDDLE OF PAGE - CAN DELETE THIS WAS JUST TO REMIND */
    display: block;
    margin: auto;
    border: none;
    background: none;
    background-color: white;
    color: black;
    font-family: monospace, 'Times New Roman';
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
  }
  
#dropdown {
    
    position: relative;
  }
  
  /* FIGURE OUT BELOW (I THINK IS SOMETHING TO DO WITH THIS I'M NOT SURE) */
#dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
#dropdown-content a {
    color: black;
    padding: 5px;
    font-family: monospace,'Times New Roman';
    text-decoration: underline;
    display: block;
  }

#dropdown-content a:hover {background-color: #ddd;}
  
#dropdown:hover #dropdown-content {display: block;}

/* -------------------------------------------  PITTA PAGE  ------------------------------------------- */





/* -------------------------------------------  KITKAT PAGE  ------------------------------------------- */




/* -------------------------------------------  CARROTS PAGE  ------------------------------------------- */





/* -------------------------------------------  ALL GROUPED-CLASSES IN PAGES  ------------------------------------------- */

.homepage1,.homepage2,.homepage3{
    font-family: monospace,'Times New Roman';
}
.header {
    font-family: monospace,'Times New Roman';

}